altgraph==0.17.4
asciitree==0.3.3
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
colorcet==3.1.0
contourpy==1.3.0
cuda-python==12.6.0
cycler==0.12.1
Cython==3.0.11
dask==2024.8.0
distinctipy==1.3.4
faiss-cpu==1.9.0
fasteners==0.19
fonttools==4.54.1
fsspec==2024.10.0
ghp-import==2.1.0
h5py==3.12.1
idna==3.10
importlib_resources==6.4.5
joblib==1.4.2
kilosort==4.0.20
kiwisolver==1.4.7
llvmlite==0.43.0
locket==1.0.0
Markdown==3.7
matplotlib==3.9.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mtscomp==1.0.2
neo==0.13.4
numba==0.60.0
numcodecs==0.12.1
numpy==1.26.4
pandas==2.2.3
partd==1.4.2
pathspec==0.12.1
pefile==2023.2.7
phylib==2.6.0
pillow==11.0.0
probeinterface==0.2.24
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
PyOpenGL==3.1.6
pyparsing==3.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
pyqtgraph==0.13.7
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.2
pytz==2024.2
pywin32==307
pywin32-ctypes==0.2.3
pyyaml_env_tag==0.1
qtconsole==5.6.1
QtPy==2.4.1
quantities==0.16.1
requests==2.32.3
responses==0.25.3
scikit-learn==1.5.2
scipy==1.13.1
spikeinterface==0.101.2
sympy==1.13.1
threadpoolctl==3.5.0
toolz==1.0.0
torch==2.5.1
tqdm==4.66.6
tzdata==2024.2
urllib3==2.2.3
watchdog==6.0.0
zarr==2.17.2